div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form] > div {margin: 10px 0;}

.ui-select-bootstrap > .ui-select-choices {
    max-height: 500px;
}

.editable-wrap {
    white-space: normal;
}