<form class="form-horizontal">
    <fieldset>

        <div class="form-group">
            <label class="col-sm-3 control-label">Projects:</label>
            <div class="col-sm-6">
                <div class="input-group">

                    <ui-select multiple ng-model="ctrl.filter.projects"
                               on-select="loadOperations()"
                               on-remove="loadOperations()"
                               theme="bootstrap"
                               ng-disabled="ctrl.disabled"
                               reset-search-input="false"
                               title="Projects">
                        <ui-select-match placeholder="Projects">{{$item.text}}</ui-select-match>
                        <ui-select-choices
                                repeat="project.value as project in (projects | orderBy: 'text' | filter: $select.search)">
                            <div ng-bind-html="project.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.filter.projects = []" class="btn btn-default">
                             <span class="glyphicon glyphicon-trash"></span>
                            </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Categories:</label>
            <div class="col-sm-6">
                <div class="input-group">

                    <ui-select multiple ng-model="ctrl.filter.categories"
                               on-select="loadOperations()"
                               on-remove="loadOperations()"
                               theme="bootstrap"
                               ng-disabled="ctrl.disabled"
                               reset-search-input="false"
                               title="Projects">
                        <ui-select-match placeholder="Categories">{{$item.text}}</ui-select-match>
                        <ui-select-choices
                                group-by="beforeSlash"
                                repeat="category.value as category in (categories | orderBy: 'text' | filter: $select.search)">
                            <div ng-bind-html="category.text.split('/').slice(-1)[0] | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.filter.categories = []" class="btn btn-default">
                             <span class="glyphicon glyphicon-trash"></span>
                            </button>
                         </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Grants:</label>
            <div class="col-sm-6">
                <div class="input-group">

                    <ui-select multiple ng-model="ctrl.filter.grants"
                               on-select="loadOperations()"
                               on-remove="loadOperations()"
                               theme="bootstrap"
                               ng-disabled="ctrl.disabled"
                               reset-search-input="false"
                               title="Projects">
                        <ui-select-match placeholder="Grants">{{$item.text.split('/').slice(-1)[0]}}
                        </ui-select-match>
                        <ui-select-choices
                                group-by="beforeSlash"
                                repeat="grant.value as grant in (grants | orderBy: 'text' | filter: $select.search)">
                            <div ng-bind-html="grant.text.split('/').slice(-1)[0] | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.filter.grants = []" class="btn btn-default">
                             <span class="glyphicon glyphicon-trash"></span>
                            </button>
                         </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Grants items:</label>
            <div class="col-sm-6">
                <div class="input-group">

                    <ui-select multiple ng-model="ctrl.filter.grant_items"
                               on-select="loadOperations()"
                               on-remove="loadOperations()"
                               theme="bootstrap"
                               ng-disabled="ctrl.disabled"
                               reset-search-input="false"
                               title="Projects">
                        <ui-select-match placeholder="Grant items">
                            {{$item.number + ' ' + $item.description | ellipsis: 40 }}
                        </ui-select-match>
                        <ui-select-choices
                                group-by="grantItemNumber"
                                repeat="grantItem.id as grantItem in ((grantItems[17].concat(grantItems[21])) | orderBy: 'number' | filter: $select.search)">
                            <div ng-bind-html="'<i>'+ grantItem.number + '</i><br> ' + grantItem.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.filter.grant_items = []" class="btn btn-default">
                             <span class="glyphicon glyphicon-trash"></span>
                            </button>
                         </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Accounts:</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <ui-select multiple ng-model="ctrl.filter.accounts"
                               on-select="loadOperations()"
                               on-remove="loadOperations()"
                               theme="bootstrap"
                               ng-disabled="ctrl.disabled"
                               reset-search-input="false"
                               title="Projects">
                        <ui-select-match placeholder="Accounts">{{$item.text}}</ui-select-match>
                        <ui-select-choices
                                repeat="account.value as account in (accounts | orderBy: 'text' | filter: $select.search)">
                            <div ng-bind-html="account.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.filter.accounts = []" class="btn btn-default">
                             <span class="glyphicon glyphicon-trash"></span>
                            </button>
                         </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Date range:</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input date-range-picker class="form-control date-picker" type="text"
                           ng-model="ctrl.filter.dateRange" options="opts"/>
                    <span class="input-group-btn">
                            <button type="button" ng-click="ctrl.filter.dateRange = {startDate: null, endDate: null}"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                    </span>
                </div>
            </div>
        </div>

    </fieldset>
</form>
