<div ng-controller="Ctrl as ctrl">

    <div ng-include="'filter.template.html'"></div>

    <div class="brn-group pull-right">
        <button class="btn btn-default" ng-click="addOperation()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn btn-default" ng-click="csvExport()">
            <span class="fa fa-floppy-o"></span>
        </button>
    </div>

    Total: {{ctrl.totalAmount}}
    <table ng-table="tableParams" show-filter="true"
           class="table table-bordered table-hover table-condensed table-striped">

        <tr ng-repeat="operation in $data">
            <td width="100px" title="'Date'" sortable="'op_date'">
                <div ng-controller="BsdateCtrl">
                    <a href="#" editable-bsdate="operation.op_date"
                       data-e-name="date" data-e-form="rowform" data-e-required data-e-format="yyyy-MM-dd"
                       data-e-style="min-width:100px;"
                       data-e-is-open="opened.$data"
                       data-e-ng-click="open($event,'$data')"
                       data-e-datepicker-popup="yyyy-MM-dd">
                        {{ (operation.op_date | date:"yyyy-MM-dd") || 'empty' }}
                    </a>
                </div>
            </td>
            <td width="150px" title="'Project'" filter="{ project_name: 'text'}" sortable="'project_name'">
                <div ng-controller="UiSelectCtrl" editable-ui-select="operation.project_id"
                     data-e-ng-model="operation.project_id"
                     data-e-name="project" data-e-form="rowform"
                     data-e-style="min-width:150px;" theme="bootstrap">
                    {{ showProject(operation) }}
                    <editable-ui-select-match>
                        <span ng-bind="$select.selected.text"></span>
                    </editable-ui-select-match>
                    <editable-ui-select-choices
                            repeat="project.value as project in (projects | orderBy: 'text' | filter: $select.search)">
                        <div ng-bind-html="project.text | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </td>
            <td width="250px" title="'Category'" filter="{ category_name: 'text'}" sortable="'category_name'">
                <div class="category-select" ng-controller="UiSelectCtrl"
                     editable-ui-select="operation.category_id"
                     data-e-ng-model="operation.category_id"
                     data-e-name="category" data-e-form="rowform"
                     data-e-style="min-width:250px;"
                     theme="bootstrap">
                    <small> {{ showCategory(operation).split('/')[0] }}</small>
                    <br>
                    {{ showCategory(operation).split('/').slice(-1)[0] }}

                    <editable-ui-select-match>
                        {{ $select.selected.text | ellipsis: 35 }}
                    </editable-ui-select-match>
                    <editable-ui-select-choices
                            group-by="beforeSlash"
                            repeat="category.value as category in (categories | orderBy: 'text' | filter: $select.search)">
                        <div ng-bind-html="category.text.split('/').slice(-1)[0] | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </td>
            <td width="150px" title="'Grant'" filter="{ grant_name: 'text'}" sortable="'grant_name'">
                <div ng-controller="UiSelectCtrl" editable-ui-select="operation.grant_id"
                     data-e-ng-model="operation.grant_id"
                     data-e-form="rowform" data-e-style="min-width:150px;"
                     data-e-on-select="ctrl.grantUpdated($item, $model, operation.id)"
                     data-e-name="grant" theme="bootstrap">
                    {{ showGrant(operation).split('/').slice(-1)[0] }}
                    <editable-ui-select-match>
                        <span ng-bind="$select.selected.text.split('/').slice(-1)[0]"></span>
                    </editable-ui-select-match>
                    <editable-ui-select-choices
                            group-by="beforeSlash"
                            repeat="grant.value as grant in (grants | orderBy: 'text' | filter: $select.search)">
                        <div ng-bind-html="grant.text.split('/').slice(-1)[0] | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </td>

            <td title="'Grant item'" filter="{ grant_item_name: 'text'}" sortable="'grant_item_name'">
                <div ng-controller="UiSelectCtrl" editable-ui-select="operation.grant_item_id"
                     data-e-ng-model="operation.grant_item_id"
                     data-e-form="rowform" data-e-style="min-width:350px;"
                     data-e-name="grantItem" theme="bootstrap">
                    <div ng-bind-html="showGrantItem(operation)"></div>
                    <editable-ui-select-match>
                        {{$select.selected.number + ' ' + $select.selected.description | ellipsis: 45 }}
                    </editable-ui-select-match>
                    <editable-ui-select-choices
                            group-by="grantItemNumber"
                            repeat="grantItem.id as grantItem in (grantItems[grantIdMap[operation.id]] | orderBy: 'number' | filter: $select.search)">
                        <div ng-bind-html="'<i>'+ grantItem.number + '</i><br> ' + grantItem.description | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </td>

            <td width="90px" title="'Amount'" filter="{ amount: 'text'}" sortable="'amount'">
                <span data-editable-text="operation.amount" data-e-name="amount" data-e-form="rowform" data-e-required
                      data-e-style="min-width:90px;">
                         {{ operation.amount || 'empty' }}
                </span>
            </td>

            <td width="90px" title="'Account'" filter="{ account_name: 'text'}" sortable="'account_name'">
                <div ng-controller="UiSelectCtrl" editable-ui-select="operation.account_id"
                     data-e-ng-model="operation.account_id"
                     data-e-form="rowform" data-e-style="min-width:100px;"
                     data-e-name="account" theme="bootstrap">
                    {{ showAccount(operation) }}
                    <editable-ui-select-match>
                        <span ng-bind="$select.selected.text"></span>
                    </editable-ui-select-match>
                    <editable-ui-select-choices
                            repeat="account.value as account in (accounts | orderBy: 'text' | filter: $select.search)">
                        <div ng-bind-html="account.text | highlight: $select.search"></div>
                    </editable-ui-select-choices>
                </div>
            </td>

            <td width="350px" title="'Description'" filter="{ description: 'text'}" sortable="'description'">
                <span data-editable-text="operation.description" data-e-name="descr" data-e-form="rowform"
                      data-e-required
                      onbeforesave="validateNotEmpty($data)"
                      data-e-style="min-width:350px;">
                         {{ operation.description || 'empty' }}
                </span>
            </td>

            <td style="white-space: nowrap; width: 85px" title="'edit'">
                <!-- form -->
                <form editable-form name="rowform"
                      onbeforesave="saveOperation($data, operation)"
                      ng-show="rowform.$visible"
                      class="form-buttons form-inline"
                      shown="inserted == operation">
                    <button type="submit" ng-disabled="rowform.$waiting"
                            class="btn btn-primary glyphicon glyphicon-floppy-disk"></button>
                    <button type="button" ng-disabled="rowform.$waiting"
                            class="btn btn-default fa fa-undo"
                            mwl-confirm
                            title="Confirmation"
                            message="Do you want to cancel changes?"
                            confirm-text="Yes"
                            cancel-text="No"
                            placement="left"
                            on-confirm="rowform.$cancel()"
                            on-cancel="cancelClicked = true"
                            confirm-button-type="default"
                            cancel-button-type="default">
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary glyphicon glyphicon-pencil"
                            ng-click="rowform.$show()"></button>
                    <button type="button" class="btn btn-default copy-btn" ng-click="copyOperation(operation)">
                        <span class="fa fa-copy" aria-hidden="true"></span>
                    </button>
               <!--     <button class="btn btn-danger glyphicon glyphicon-remove"
                            mwl-confirm
                            title="Confirmation"
                            message="Remove this row?"
                            confirm-text="Yes"
                            cancel-text="No"
                            placement="left"
                            on-confirm="removeOperation($index)"
                            on-cancel="cancelClicked = true"
                            confirm-button-type="danger"
                            cancel-button-type="default">
                    </button> -->
                </div>
            </td>
        </tr>
    </table>
</div>