@import org.intracer.finance.Operation
@import org.intracer.finance.AlphaNumOrdering
@import client.finance.GrantItem

@(
        operations: Seq[Operation],
        total: Double,
        opFilter: OpFilter,
        operationsByGrantRow: Map[Int, Iterable[Operation]],
        rate: Option[Double] = None,
        itemsByKey: Map[Int, GrantItem] = Map.empty
        )(implicit flash: Flash, lang: Lang, messages: Messages)

@import org.intracer.finance.Formatter.fmt

    @statGrid(tableName: String, groupName: String, groupedOperations: Map[Int, Iterable[Operation]]) = {

        <table class="table table-striped table-bordered" style="background-color: #DDDDDD;">
            <caption><b>@tableName</b></caption>
            <thead>
                <tr>
                    <th>@Messages("Code")</th>
                    <th width="50%">@Messages("Description")</th>
                    <th>@Messages("Budgeted (USD)")</th>
                    <th>@Messages("Expenses (USD)")</th>
                    <th>@Messages("Expenses (UAH)")</th>
                    <th>@Messages("Diff (UAH)")</th>
                </tr>
            </thead>
            <tbody>
            @for(groupId <- itemsByKey.keys.toSeq.sortBy(id => itemsByKey(id).number.replaceFirst("^$", "z"))(AlphaNumOrdering)) {
                @defining(operations.filter(_.to.grantItem.exists(_.number.startsWith(itemsByKey(groupId).number)))) { groupOperations =>
                    <tr>
                        <td>
                            @itemsByKey(groupId).number
                        </td>

                        <td>
                        @itemsByKey(groupId).description
                        </td>

                        <td>
                        @itemsByKey(groupId).totalCost
                        </td>

                        <td>
                        @fmt.format(groupOperations.map(_.toDouble).sum / Global.uahToUsd).replaceFirst("^0$", "-")
                </td>

                    <td>
                    @fmt.format(groupOperations.map(_.toDouble).sum).replaceFirst("^0$", "-")
                    </td>

                    <td>
                    @fmt.format(itemsByKey(groupId).totalCost * Global.uahToUsd - groupOperations.map(_.toDouble).sum)
                    </td>
                </tr>
                }
            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">@Messages("total") </td>
                    <td> @fmt.format(itemsByKey.values.filter(_.number.count(_ == '.') == 1).map(_.totalCost).sum)</td>
                    <td> @fmt.format(groupedOperations.values.flatten.map(_.toDouble).sum / Global.uahToUsd).replaceFirst("^0$", "-")</td>
                    <td> @fmt.format(groupedOperations.values.flatten.map(_.toDouble).sum).replaceFirst("^0$", "-") </td>
                   <td> @fmt.format(itemsByKey.values.map(_.totalCost).sum * Global.uahToUsd - groupedOperations.values.flatten.map(_.toDouble).sum)</td>
                </tr>
            </tfoot>
        </table>
    }


@main(Messages("operations")) {
    @filter(operations, opFilter, "/bygrantrowstat", rate)
    @statGrid(Messages("by.grant.row"), Messages("grant.row"), operationsByGrantRow)
}



