@(loginForm: Form[(String, String)])(implicit flash: Flash, lang: Lang, messages: Messages)
@import b3.inline.fieldConstructor


<fieldset class="col-md-6 col-md-offset-3">

    <legend>@Messages("signin.signin")</legend>

    @helper.form(action = routes.Login.auth()) {

        @if(loginForm.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
            @Messages(loginForm.errors.head.message)
            </div>
        }

        @b3.email(loginForm("login"),
            '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"),
            'class -> "form-control input-lg", 'required -> "")

        @b3.password(loginForm("password"),
            '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"),
            'class -> "form-control input-lg", 'required -> "")

        <div class="form-group">
            <div>
                <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("signin.signin")</button>
            </div>
        </div>
    }

    @if(false) {
        <div>
            <p class="not-a-member">@Messages("not.a.member") <a href="">@Messages("sign.up.now")</a>
                | <a href="" title="@Messages("forgot.your.password")">@Messages("forgot.your.password")</a></p>
        </div>

        <div class="social-providers">
            <p>@Messages("or.use.social")</p>

            <a href="" class="provider mediawiki" title="MediaWiki"><img src="@routes.Assets.at(s"images/MediaWiki_logo_1.svg.png")" width="64px" height="64px" alt="MediaWiki"></a>
        </div>
    }

</fieldset>

