@(title: String,user: org.intracer.finance.User = null)(content: Html)(implicit lang: Lang)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/moment.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("daterangepicker.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("daterangepicker-bs2.css")" />

        <style>
            body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <script type="text/javascript">
            $(window).on('load', function () {

            $('.selectpicker').selectpicker('show');

            });

            $(document).ready(function() {
            $('input[name="daterange"]').daterangepicker();
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">@Messages("application.name")</a>
                    @logged(user)
                    <div>  <!-- class="nav-collapse collapse" -->
                        <ul class="nav">
                            <li><a href="/operations">@Messages("operations")</a></li>
                            <li><a href="/statistics">@Messages("statistics")</a></li>
<!--                            <li><a href="#contact">Contact</a></li> -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

        @content

        </div>
    </body>
</html>
