@(title: String, user: org.intracer.finance.User = null)(content: Html)(implicit lang: Lang, messages: Messages)
    @import org.intracer.finance.slick.Expenditures

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

        <!-- ************** Bootstrap begin ************** -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
        <!-- ************** Bootstrap end ************** -->

         <!-- ************** Bootstrap select begin ************** -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
        <!-- ************** Bootstrap select end ************** -->

        <!-- ************** Data tables begin ************** -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.bootstrap.min.css" >

        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>
        <!-- ************** Data tables end *************** -->


        <!-- ************** X editable begin *************** -->
        <link href="@routes.Assets.at("select2/select2.css")" rel="stylesheet" type="text/css">
        <script src="@routes.Assets.at("select2/select2.js")"></script>

        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!-- ************** X editable end *************** -->


        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

        @if(lang.satisfies(Lang("uk"))) {
            <script src="@routes.Assets.at("javascripts/min/lang/uk.js")"></script>
        }
            <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

        <script type="text/javascript">

            $(document).ready(function () {

                $('.selectpicker').selectpicker('show');

                function cb(start, end) {
                    $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                cb(moment().subtract(29, 'days'), moment());

                $('#daterange').daterangepicker({
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                $('#operations').DataTable( {
                    "paging":   false,
                    "ordering": false
                } );

                $.fn.editable.defaults.mode = 'popup';

                $('.editable').editable();

                $('.edit_date').editable({
                    format: 'yyyy-mm-dd',
                    viewformat: 'dd/mm/yyyy',
                    mode: 'popup',
                    datepicker: {
                        weekStart: 1
                    },
                    combodate: { maxYear: 2016 }
                });

                $('.edit_project').editable({
                    source: [
                        @Html(Global.projectsJson)
                    ],
                    showbuttons: false
                });

                $('.edit_category').editable({
                    source: [
                        @Html(Global.categoriesJson)
                    ],
                    showbuttons: false
                });

                @for(grant <- Expenditures.grants.values if Expenditures.grantItems.getOrElse(grant.id.get, Seq.empty).nonEmpty) {
                $('.edit_grant_item_@grant.id.get').editable({
                    source: [
                        @Html(Global.grantItemsJson(grant.id.get))
                    ],
                    select2: {
                        placeholder: 'Select a grant item',
                        allowClear: true,
                        width: '400px',
                        id: function(o) {return o.value}
                    },
                    showbuttons: false
                });
                }

                $('.edit_grant').editable({
                    source: [
                        @Html(Global.grantsJson)
                    ],
                    showbuttons: false
                });


                $('.edit_account').editable({
                    source: [
                        @Html(Global.accountsJson)
                    ],
                    showbuttons: false
                });
            });
        </script>
    </head>
    <body>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">@Messages("application.name") (@Global.fileDate)</a>
                    @logged(user)
                    <div> <!-- class="nav-collapse collapse" -->
                        <ul class="nav navbar-nav">
                            <li><a href="/operations">@Messages("operations")</a></li>
                            <li><a href="/bygrantrow">@Messages("bygrantrow.operations")</a></li>
                            <li><a href="/bygrantrowstat">@Messages("bygrantrow.statistics")</a></li>
                            <li><a href="/resolutions">@Messages("resolutions")</a></li>
                            <li><a href="/statistics">@Messages("statistics")</a></li>
                        </ul>
                    </div> <!--/.nav-collapse -->
                </div>
            </div>
        </nav>

        <div class="container">

        @content

        </div>
    </body>
</html>
