@import org.intracer.finance.Dictionary
@(title: String,
        user: org.intracer.finance.User = null,
        dictionary: Dictionary = Dictionary())(content: Html)(implicit lang: Lang, messages: Messages)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

            <!-- ************** Bootstrap begin ************** -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
            <!-- ************** Bootstrap end ************** -->

            <!-- ************** Bootstrap select begin ************** -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
            <!-- ************** Bootstrap select end ************** -->

            <!-- ************** Data tables begin ************** -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.bootstrap.min.css" >

        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>
            <!-- ************** Data tables end *************** -->

        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

            <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

        <script type="text/javascript">
            $(document).ready(function () {

                $('.selectpicker').selectpicker('show');

                function cb(start, end) {
                    $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                cb(moment().subtract(29, 'days'), moment());

                $('#daterange').daterangepicker({
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                $('#operations').DataTable({
                    "paging": false,
                    "ordering": false
                });
            });
        </script>
    </head>
    <body>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-inner">
                <div class="container-fluid">

                    @logged(user)
                <div> <!-- class="nav-collapse collapse" -->
                    <ul class="nav navbar-nav">
                        <li><a class="brand" href="#">@Messages("application.name")</a></li>
                        <li><a href="/assets/index.html#/operations">@Messages("operations")</a></li>
                        <li><a href="/log">@Messages("Log")</a></li>
                        <li><a href="/assets/index.html#/grouped">Grouped</a></li>
                        <li><a href="/bygrantrowstat">@Messages("bygrantrow.statistics")</a></li>
                        <li><a href="/resolutions">@Messages("resolutions")</a></li>
                        <li><a href="/statistics">@Messages("statistics")</a></li>
                        <li><a href="/assets/index.html#/accounts">@Messages("Lookup")</a></li>
                    </ul>
                </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>

        @content

    </body>
</html>
