@(user: org.intracer.finance.User,
        operations: Seq[org.intracer.finance.Operation],
        total: Double,
        projects: Set[Int],
        categories: Set[Int],
        grants: Set[Int],
        daterange: String,
        url: String)(implicit flash: Flash, lang: Lang, messages: Messages)

@main(Messages("operations"), user) {

    <div class="row">

    @filter(operations, projects, categories, grants, daterange, url)

    <table class="table table-striped table-bordered" id="operations">
        <thead>
            <tr>
                <th style="width:60pt">@Messages("date")</th>
                <th>@Messages("project")</th>
                <th>@Messages("category")</th>
                <th>@Messages("grant.row")</th>
                <th>@Messages("grant")</th>
                <th>@Messages("amount")</th>
                <th>@Messages("desc")</th>
            </tr>
        </thead>
        <tbody>
        @for(operation <- operations) {
            @defining(operation.to.id.getOrElse(0)) { id =>
            <tr>
                <td> @operation.date.toString().substring(0, 10) </td>
                <td>
                    <a href="#" class="edit_project" data-type="select" data-pk="@id" data-value="@operation.to.project.code" data-url="/update_op" data-title="@Messages("project")">
                    @operation.to.projectName
                    </a>
                </td>
                <td>
                    <a href="#" class="edit_category" data-type="select" data-pk="@id" data-value="@operation.to.category.code" data-url="/update_op" data-title="@Messages("category")">
                    @operation.to.categoryName
                    </a>
                </td>
                <td> @operation.to.grantRow.getOrElse("") </td>
                <td>
                    <a href="#" class="edit_grant" data-type="select" data-pk="@id" data-value="@operation.to.grant.map(_.code).getOrElse(0)" data-url="/update_op" data-title="@Messages("grant")">
                        @operation.to.grantName
                    </a>
                </td>
                <td>
                    <a href="#" class="editable" data-type="text" data-pk="@id" data-url="/update_op" data-title="@Messages("amount")">
                    @operation.amountString
                    </a>
                </td>
                <td>
                    <a href="#" class="editable" data-type="text" data-pk="@id" data-url="/update_op" data-title="@Messages("desc")">
                    @operation.to.desc
                    </a>
                </td>
            </tr>
            }
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">@Messages("total") </td>
                <td colspan="2">@org.intracer.finance.Formatter.fmt.format(total) </td>
            </tr>
        </tfoot>
    </table>
    </div>
}