@(user: org.intracer.finance.User,
        operations: Seq[org.intracer.finance.Operation],
        projects: Set[String],
        categories: Set[String],
        grants: Set[String],
        daterange: String)(implicit flash: Flash, lang: Lang)

    @main(Messages("operations"), user) {


                <div class="well">

                    <form class="form-vertical" action="/operations" method="get">
                        <fieldset>

                            <div class="bs-docs-grid">
                                <div class="row show-grid">

                                    <div class="span3">
                                        <label class="control-label" for="projects_select" style="width:60pt">@Messages("projects")</label>
                                        <select id="projects_select" class="selectpicker" multiple name="projects">
                                        @for((id, name) <- Global.mapping.project.iterator.toSeq.sortBy(pair => pair._2.toLowerCase)) {
                                            <option value="@id" @if(projects.contains(id)){selected}>@name</option>
                                        }
                                        </select>
                                    </div>

                                    <div class="span3">
                                        <label class="control-label" for="categories_select" style="width:60pt">@Messages("categories")</label>
                                        <select id="categories_select" class="selectpicker" multiple name="categories">
                                        @for((id, name) <- Global.mapping.category.iterator.toSeq.sortBy(pair => pair._2.toLowerCase)) {
                                            <option value="@id" @if(categories.contains(id)){selected}>@name</option>
                                        }
                                        </select>
                                    </div>

                                    <div class="span3">
                                        <label class="control-label" for="grants_select" style="width:60pt">@Messages("grants")</label>
                                        <select id="grants_select" class="selectpicker" multiple name="grants">
                                        @for((id, name) <- Global.mapping.grant.iterator.toSeq.sortBy(pair => pair._2.toLowerCase)) {
                                            <option value="@id" @if(grants.contains(id)){selected}>@name</option>
                                        }
                                        </select>
                                    </div>

                                    <div class="span3">
                                        <label class="control-label" for="reservation">@Messages("dates")</label>
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-calendar"></i></span>
                                                <input type="text" style="width: 180px" name="daterange" id="daterange" value="@daterange" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <button type="submit" class="btn btn-primary" style="margin-top: 18pt">@Messages("filter")</button>
                                    </div>
                                </div>

                            </div>

                        </fieldset>
                    </form>

                    <script type="text/javascript">
                        $(document).ready(function() {
                        $('#daterange').daterangepicker();
                        });
                    </script>

                </div>

        <table class="table table-striped table-bordered">
            <tr>
                <th style="width:60pt">@Messages("date")</th>
                <th>@Messages("project")</th>
                <th>@Messages("category")</th>
                <th>@Messages("grant")</th>
                <th>@Messages("amount")</th>
                <th>@Messages("desc")</th>
            </tr>

            @for(operation <- operations) {
                <tr>
                    <td> @operation.date.toString().substring(0, 10) </td>
                    <td> @operation.to.project </td>
                    <td> @operation.to.category </td>
                    <td> @operation.to.grant </td>
                    <td> @operation.amount </td>
                    <td> @operation.to.desc </td>
                </tr>


            }
        </table>
    }