@(user: org.intracer.finance.User,
        operations: Seq[org.intracer.finance.Operation],
        total: Double,
        projects: Set[String],
        categories: Set[String],
        grants: Set[String],
        daterange: String)(implicit flash: Flash, lang: Lang)

@main(Messages("resolutions"), user) {

    <h3>Рішення Правління №39-1/2013 від 28 жовтня 2013 </h3>

    З метою забезпечення виконання <a href="https://ua.wikimedia.org/wiki/%D0%A0%D1%96%D1%88%D0%B5%D0%BD%D0%BD%D1%8F_%D0%9F%D1%80%D0%B0%D0%B2%D0%BB%D1%96%D0%BD%D0%BD%D1%8F_%E2%84%9639/2013_%D0%B2%D1%96%D0%B4_14_%D0%B6%D0%BE%D0%B2%D1%82%D0%BD%D1%8F_2013">Рішення Правління №39/2013 від 14 жовтня 2013</a>, Правління вирішило:
    <ol>
    <li> Уповноважити виконавчого директора Юрія Пероганича підписати договір про надання послуг із організації Вікіконференції із СПД Косинський П. С.
    <li> Контроль за якістю та вчасністю надання послуг покласти на координатора заходу Віктора Семенюка.
    </ol>

    <h4>Голосування </h4>
    <li> Андрій Бондаренко
    <li> Микола Козленко - у розсилці, лист від 28 жовтня 2013 р. 20:28
    <li> Анатолій Луцюк - у розсилці, лист від 28 жовтня 2013 р. 15:51
    <li> Андрій Макуха - у розсилці, лист від 28 жовтня 2013 р. 20:15
    <li> Юрій Пероганич - у розсилці, лист від 24 жовтня 2013 р. 16:01
    <li> Віктор Семенюк - у розсилці, лист від 24 жовтня 2013 р. 23:05
    <li> Наталія Тимків

    <h4>Опубліковано:</h4> 29 жовтня 2013 року

   <h4>Договір:</h4>
}