@(saveBtnClass: String)
<div style="float: right; width: 50px; height: 25px" class="btn-group newrow_buttons">
    <button type="button" class="btn btn-default btn-xs @saveBtnClass" style="width: 25px; height: 25px">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs reset-btn" style="width: 25px; height: 25px">
        <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
</div>
