@import org.intracer.finance.Operation
@(
        tableName: String,
        groupName: String,
        mapping: Map[String, String],
        groupedOperations: Map[String, Iterable[Operation]],
        total: Double
)(implicit flash: Flash, lang: Lang, messages: Messages)

@import org.intracer.finance.Formatter.fmt

    <table class="table table-striped table-bordered" style="background-color: #DDDDDD;">
        <caption><b>@tableName</b></caption>
        <thead>
            <tr>
                <th width="50%">@groupName</th>
                <th>@Messages("year")</th>
                @for(m <- 1 to 12) {
                    <th>@m</th>
                }
            </tr>
        </thead>
        <tbody>
        @for(groupId <- groupedOperations.keys.toSeq.sortBy(key => mapping.getOrElse(key, key).toLowerCase)) {

            <tr>
                <td> @mapping.getOrElse(groupId, groupId) </td>
                <td>
                    @fmt.format(groupedOperations(groupId).map(_.toDouble).sum)

                    @if(false) { =
                        @for(op <- groupedOperations(groupId)) {
                            <span title="@op.to.desc"> @fmt.format(op.amount) </span>
                        }
                    }
                </td>

                @for(m <- 1 to 12) {
                    <td>
                    @fmt.format(groupedOperations(groupId).filter(_.date.getMonthOfYear == m).map(_.toDouble).sum).replaceFirst("^0$", "-")
                    </td>
                }
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td>@Messages("total") </td>
                <td>@fmt.format(total) </td>
            </tr>
        </tfoot>
    </table>

