@(operations: Seq[org.intracer.finance.Operation],
        total: Double,
        projects: Set[String],
        categories: Set[String],
        grants: Set[String],
        daterange: String,
        operationsByProject: Map[String, Iterable[org.intracer.finance.Operation]],
        operationsByCategory: Map[String, Iterable[org.intracer.finance.Operation]],
        operationsByGrant: Map[String, Iterable[org.intracer.finance.Operation]],
        operationsByProjectAndCategory: Map[String, Iterable[org.intracer.finance.Operation]]
        )(implicit flash: Flash, lang: Lang, messages: Messages)

@import org.intracer.finance.Operation
@import scala.collection.mutable.HashMap


    @statGrid(tableName: String, groupName: String, mapping: HashMap[String, String], groupedOperations: Map[String, Iterable[Operation]]) = {

        <table class="table table-striped table-bordered">
            <caption><b>@tableName</b></caption>
            <thead>
                <tr>
                    <th width="50%">@groupName</th>
                    <th>@Messages("amount")</th>
                </tr>
            </thead>
            <tbody>
            @for(groupId <- groupedOperations.keys.toSeq.sortBy(key => mapping(key).toLowerCase)) {

                <tr>
                    <td>
                    @mapping(groupId)
                    </td>
                    <td>
                    @org.intracer.finance.Formatter.fmt.format(groupedOperations(groupId).map(_.amount).sum)
                        @if(false) { =
                        @for(op <- groupedOperations(groupId)) {
                    <span title="@op.to.desc"> @org.intracer.finance.Formatter.fmt.format(op.amount) </span>
                        }
                        }
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td>@Messages("total") </td>
                    <td>@org.intracer.finance.Formatter.fmt.format(total) </td>
                </tr>
            </tfoot>
        </table>
    }


@main(Messages("operations")) {
    @filter(operations, projects, categories, grants, daterange, "/statistics")
    @statGrid(Messages("by.project"), Messages("project"), Global.mapping.project, operationsByProject)
    @statGrid(Messages("by.category"), Messages("category"), Global.mapping.category, operationsByCategory)
    @statGrid(Messages("by.grant"), Messages("grant"), Global.mapping.grant, operationsByGrant)

}



