@import org.intracer.finance.Operation
@import org.intracer.finance.slick.Expenditures

@(operations: Seq[Operation],
        total: Double,
        opFilter: OpFilter,
        byProject: Map[String, Iterable[Operation]],
        byCategory: Map[String, Iterable[Operation]],
        byGrant: Map[String, Iterable[Operation]],
        byGrantRow: Map[String, Iterable[Operation]],
        byProjectAndCategory: Map[String, Iterable[Operation]]
        )(implicit flash: Flash, lang: Lang, messages: Messages)

@main(Messages("operations")) {
    <div class="container">
    @filter(operations, opFilter, "/statistics")
    @statGrid(Messages("by.project"), Messages("project"), opFilter.dictionary.projectMap.map{case (k,v) => (k.toString, v.name)}, byProject, total)
    @statGrid(Messages("by.category"), Messages("category"), opFilter.dictionary.categoryMap.map{case (k,v) => (k.toString, v.name)}, byCategory, total)
    @statGrid(Messages("by.grant"), Messages("grant"), opFilter.dictionary.grantMap.map{case (k,v) => (k.toString, v.name)}, byGrant, total)
    @statGrid(Messages("by.grant.row"), Messages("grant.row"), byGrantRow.keySet.map(k => (k,k)).toMap, byGrantRow, total)
    </div>
}



